
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0  150px;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    
}

a:visited{
    color: #3A3A3A;
}

.nav-home{
    
    font-weight:bold;
    color: #000000;
}

.nav-shop-about{
    font-weight: 500;
    color:rgba(137, 135, 161, 1) ;
    opacity: 65%;

}
.cart{
    color: rgba(0, 0, 0, 1);
}

/* Banner Section */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin: 221px 150px 80px 150px ;
    align-items: center;
}

.banner-content{
      width: 570px;
      height: 299px;
      align-content: center;
    }


.banner-title{
    margin-bottom: 0%; 
    font-weight: 800;
    font-size: 4rem;
}

.header-color{
color: #E95A08;

}

.banner-description{
     font-weight: 400;
     font-size: 1.22rem;
     color: rgba(0, 0, 0, 0.5);
}

.banner-img{
    max-width: 570px;
    height: 355px;
}

/* Plant Section desgin */


.plant-details{
    margin: 0 auto;
    max-width: 1040px;
    height: 138px;
   text-align: center;
   padding: 20px 0;
   margin-bottom: 49px;
}
.plant-title{
    
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 0px;

}

.plant-title-design{
    color: #E95A08;
}

.plant-description{
    font-weight: 500;
    font-size: 1.1rem;
    opacity: 50%;
}
.card-container{
    width: 100% ;
    max-width: 1420px;
    height: auto;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin:0 auto;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    justify-content: center; 
    align-items: center;   
}

.card-item{
     border: 1px solid #FFFFFF;
     width: 100%;
     height: auto;
     

    
}

.card-item-img{
    width: 100%;
    height: auto;
    
}
.item-details{
    text-align: center;
    

}

.item-title{
    font-weight: 500;
    font-size: 1.30rem;
    color: #111111;
    margin-bottom: 0%;
}

.item-price{
    font-weight: bold;
    font-size: 1.30rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-primary{
    border: none;
    font-size: 1rem;
    font-weight: 500;
    width:100%;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
}
/* Plant lover section */

.trusted-badge{
    width: 286px;
    height: 289px;
    position: absolute;
    top: -140px;
    right: -150px;
    z-index: 10;
    animation: spin 9s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(380deg);
    }
}
.image-with-badge-container{
    position: relative;
    display: inline-block;
}


.plant-lover{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    height: auto;
}


.flower-lover-store-details{

    height: auto;
    width: 100%;
    max-width: 540px;


}
.flower-lover-title{
    font-weight: bold;
    font-size: 3.1rem;
    width: 540px;
    height: 137px;
    margin-bottom: 0%;
}

.title-responsive{
    display: none;

}

.plant-lover-description{
    font-weight: 400;
    font-size: 1.23rem;
    opacity: 50%;
   
}

.plant-lover-description li {
    margin-bottom: 20px;}

    /* latest Deal Section */
.latest-deal-content{
    margin: 0 auto;
    max-width: 1040px;
    height: 138px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 49px;
}

.offer-section{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 1140px;
    margin-bottom: 10%;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 28px;
    text-align: center;
}

.small-card-bloom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 367px;
    height: 201px;
    font-size: 1.21rem;
    font-weight: 800;
    color:#FFFFFF ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid none;
    border-radius: 14px;
}

.small-card-ana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 367px;
    height: 201px;
    margin-top: 25px;
    font-size: 1.21rem;
    font-weight: 800;
    color:#FFFFFF ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid none;
    border-radius: 14px;
}


.large-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 753px;
    height:423px;
    font-size: 2.7rem;
    font-weight: 800;
    color:#FFFFFF ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid none;
    border-radius: 22px;
}

.offer-section a:visited{
    color: #FFFFFF;
    font-weight: 500;
}

/* Join Section */

.join-section{
    width:100%;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size:cover;
    align-content: center;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;

}

.join-section label{
    width: 586px;
    max-width: 90%;
    height: 68px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 3.1rem;
    color: #FFFFFF
    }

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;  */

}
.input{
    width:664px;
    max-width: 80%;
    height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    outline: none;
}
input::placeholder{
    text-align: left;
    margin-left: 3%;
    padding-left: 4%;
    width: 84px;
    height: 19px;
    font-size: 1rem;
    font-weight: 400;
}

.btn-subscribe{

    width: 186px;
    height: 50px;
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
}
/* footer   */
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1320px;
    height: 248px;

}

.website-intro{
    width: 359px;
    height: 179px;
    align-items: start;
    align-content: start;
    text-align: start;

}
.intro-description{
    width: 359px;
    height: 81px;
    font-size: 1.24rem;
    font-weight: 400;
    opacity: 50%;
}
.footer-container ul li{
    list-style: none;

}

.footer-container ul a{
    text-decoration: none;
    
}

.home-link ul {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    opacity: 60%;
    
}

.feature-link ul{
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    opacity: 60%;
}

.social-logo{
    display: flex;
    width: 216px;
    height: 36px;
    gap: 24px;

}




/* Mobile Responsive */
@media screen and (max-width:576px){

    /* header section */
    header{

    height: 38px;
    width: 93%;
    margin: 0 auto;
    margin: 50px 0px 0px 20px;
    }

   nav ul li:not(.cart) {
    display: none;
    
    }

header img{
   max-width: 100%;
   margin: 0 auto;
   height: auto;
}
nav ul{
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

}

/* Banner-Section */
.banner-container{
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin: 30px 0px 0px 20px;
    gap:25px ;
    


}
.banner-content{
    text-align: center;
    width: 100%;
    height: auto;

}

.banner-title{

    text-align:start;
    font-size: 1.25rem;
    width: 90%;
    height: auto;
}

.banner-description{
    
    text-align: start;
    width: 90%;
    height: auto;
}

.banner-img {
    max-width: 100%;
    height:auto;
}

.banner-img img{

        width: 95%;
        height: auto;
}

/* plant section */
.plant-details{
    max-width: 393px;
    height: 117px;
   
   
}


.card-container{
    grid-template-columns: repeat(2,1fr);
    max-width: 361px;
    height: auto;

}

.plant-description{
  margin-left:1%;
}

/* Plant Lover Section */
.trusted-badge{
    display: none;
}
.plant-lover{
    flex-direction: column;
    width: 100%;
    max-width:361px;
    height: auto;
    box-sizing: border-box;
    align-items: start;
}

.title-responsive{
    display: block;
    font-weight: bold;
    font-size: 1.24rem;
    width: 270px;
    height: 33px;
    margin-bottom: 16px;
}
.flower-lover-title{
    display: none;
}

.plant-lover-description{
    font-size: 0.875rem;
    max-width: 361px;
    height: 234px;
    margin: 0 auto;
    margin-bottom: 80px;
    
   
}

.image-with-badge-container{
    width: 100%;
    max-width: 358px;
    margin: 0 auto;
    height: auto;
}

.image-with-badge-container img{
    width: 100%;
    height: auto;
    margin: 0 auto;

}

 /* latest Deal Section */
.latest-deal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 393px;
    margin: 0 auto;
    height: 178px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5%;
}

.plant-description{
    font-weight: 500;
     font-size: 0.875rem;
     color: rgba(0, 0, 0, 0.8);
}

.offer-section{
    flex-direction: column;
    max-width: 361px;
    height: 581px;
    text-align: center;
}

.small-card-bloom .small-card-ana{
    
    width: 361px;
    height: 184px;
   
}


.large-card{
    width: 361px;
    height: 172px;
    font-size: 1.21rem;
    font-weight: 800;
 
 
    border: 1px solid none;
    border-radius: 14px;
}

.offer-section a:visited{
    color: #FFFFFF;
    font-weight: 500;
}

/* Join Section */
.join-section{
    width:100%;
    height: 276px;
    

}


.join-section label{
    width: 235px;
    height: 27px;
    font-size: 1.2rem;
}

.input{
    width:218px;
}

.btn-subscribe{
    width: 103px ;
}

/* Footer Section */
.footer-container{
    flex-direction: column;
    justify-content: flex-start;
    margin:50px  14px 50px 20px;

    
}

.website-intro{
        width: 359px;
        height: 173px;
        margin-bottom: 20px;
}


.feature-link ul{
        margin-bottom: 2%;
    
}


.social-logo{
    width: 216px;
    height: 36px;
    margin-left: 3%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

  


}